# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

import gmaps.datasets

from IPython.display import HTML
from ipywidgets.embed import embed_minimal_html

from pprint import pprint
# Import API key
from api_keys import g_key


city_data = pd.read_csv('cities.csv')
city_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jamestown,90,US,1580062115,86,42.10,-79.24,34.00,14.99
1,1,atar,99,MR,1580062346,17,20.52,-13.05,82.33,11.48
2,2,clyde river,75,CA,1580062346,68,70.47,-68.59,-18.40,16.11
3,3,alta floresta,40,BR,1580062346,66,-9.88,-56.09,89.60,4.70
4,4,namibe,20,AO,1580062346,73,-15.20,12.15,77.00,9.17

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [2]:
gmaps.configure(api_key = g_key)

locations = city_data[['Lat','Lng']]
humidity = city_data['Humidity']
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating = False,max_intensity = 300,point_radius = 2)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [3]:
city_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jamestown,90,US,1580062115,86,42.10,-79.24,34.00,14.99
1,1,atar,99,MR,1580062346,17,20.52,-13.05,82.33,11.48
2,2,clyde river,75,CA,1580062346,68,70.47,-68.59,-18.40,16.11
3,3,alta floresta,40,BR,1580062346,66,-9.88,-56.09,89.60,4.70
4,4,namibe,20,AO,1580062346,73,-15.20,12.15,77.00,9.17

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#ideal weather conditions, between 70 & 80 degrees
#wind speed <10 mph
#zero cloudiness

reduced_df = city_data.loc[(city_data['Max Temp'] >= 70) &
                          (city_data['Max Temp']<80) &
                          (city_data['Wind Speed']<10) &
                          (city_data['Cloudiness'] == 0)]

reduced_df = reduced_df.dropna().reset_index().drop(columns = ['index','Unnamed: 0'])

reduced_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,busselton,0,AU,1580062347,37,-33.65,115.33,72.00,9.40
1,alindao,0,CF,1580062351,23,5.03,21.21,79.95,3.04
2,yulara,0,AU,1580062355,19,-25.24,130.99,75.20,4.70
3,nandyal,0,IN,1580062183,59,15.48,78.48,73.38,2.86
4,santa cruz del sur,0,CU,1580062367,74,20.71,-78.00,75.52,9.08
5,guamuchil,0,MX,1580062114,69,25.47,-108.10,73.00,3.00
6,dubbo,0,AU,1580062381,83,-32.25,148.62,73.40,5.82
7,valparaiso,0,CL,1580062397,68,-33.04,-71.63,71.60,6.93
8,beboto,0,TD,1580062412,11,8.27,16.94,78.06,3.11

In [5]:
reduced_df['Hotel Name'] = ''
reduced_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,busselton,0,AU,1580062347,37,-33.65,115.33,72.00,9.40,
1,alindao,0,CF,1580062351,23,5.03,21.21,79.95,3.04,
2,yulara,0,AU,1580062355,19,-25.24,130.99,75.20,4.70,
3,nandyal,0,IN,1580062183,59,15.48,78.48,73.38,2.86,
4,santa cruz del sur,0,CU,1580062367,74,20.71,-78.00,75.52,9.08,
5,guamuchil,0,MX,1580062114,69,25.47,-108.10,73.00,3.00,
6,dubbo,0,AU,1580062381,83,-32.25,148.62,73.40,5.82,
7,valparaiso,0,CL,1580062397,68,-33.04,-71.63,71.60,6.93,
8,beboto,0,TD,1580062412,11,8.27,16.94,78.06,3.11,

Missing Fields/Results...  skipping.
Missing Fields/Results...  skipping.
Missing Fields/Results...  skipping.

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,busselton,0,AU,1580062347,37,-33.65,115.33,72.00,9.40,Observatory Guest House
1,alindao,0,CF,1580062351,23,5.03,21.21,79.95,3.04,
2,yulara,0,AU,1580062355,19,-25.24,130.99,75.20,4.70,Desert Gardens Hotel - Ayers Rock Resort
3,nandyal,0,IN,1580062183,59,15.48,78.48,73.38,2.86,Hotel Shobha
4,santa cruz del sur,0,CU,1580062367,74,20.71,-78.00,75.52,9.08,
5,guamuchil,0,MX,1580062114,69,25.47,-108.10,73.00,3.00,Hotel Heredia
6,dubbo,0,AU,1580062381,83,-32.25,148.62,73.40,5.82,Comfort Inn Blue Lagoon
7,valparaiso,0,CL,1580062397,68,-33.04,-71.63,71.60,6.93,Hotel Ultramar
8,beboto,0,TD,1580062412,11,8.27,16.94,78.06,3.11,

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

params = {'key': g_key,
    'radius':5000,
    'location': None,
    'type':'lodging'}


for index, row in reduced_df.iterrows():
    
    lat = row['Lat']
    lon = row['Lng']

    params['location'] = f'{lat},{lon}'
    
    response = requests.get(base_url, params = params).json()
   
    try:
        reduced_df.loc[index,'Hotel Name']=response['results'][0]['name']
 
    except(KeyError,IndexError):
        print('Missing Fields/Results...  skipping.')

In [27]:
reduced_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,busselton,0,AU,1580062347,37,-33.65,115.33,72.00,9.40,Observatory Guest House
1,alindao,0,CF,1580062351,23,5.03,21.21,79.95,3.04,
2,yulara,0,AU,1580062355,19,-25.24,130.99,75.20,4.70,Desert Gardens Hotel - Ayers Rock Resort
3,nandyal,0,IN,1580062183,59,15.48,78.48,73.38,2.86,Hotel Shobha
4,santa cruz del sur,0,CU,1580062367,74,20.71,-78.00,75.52,9.08,
5,guamuchil,0,MX,1580062114,69,25.47,-108.10,73.00,3.00,Hotel Heredia
6,dubbo,0,AU,1580062381,83,-32.25,148.62,73.40,5.82,Comfort Inn Blue Lagoon
7,valparaiso,0,CL,1580062397,68,-33.04,-71.63,71.60,6.93,Hotel Ultramar
8,beboto,0,TD,1580062412,11,8.27,16.94,78.06,3.11,

In [30]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in reduced_df.iterrows()]
locations = reduced_df[["Lat", "Lng"]]
locations

     Lat     Lng
0 -33.65  115.33
1   5.03   21.21
2 -25.24  130.99
3  15.48   78.48
4  20.71  -78.00
5  25.47 -108.10
6 -32.25  148.62
7 -33.04  -71.63
8   8.27   16.94

In [33]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations,info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig
# Display Map

Figure(layout=FigureLayout(height='420px'))